# Clerk Auth
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_INSERT_YOUR_KEY_HERE

# API Configuration
# Для эмулятора Android используйте 10.0.2.2, для реального устройства - ваш локальный IP (например, 192.168.1.X)
EXPO_PUBLIC_API_URL=http://192.168.1.X:3000/api

# Stripe Payments
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_INSERT_YOUR_KEY_HERE